main {
  height: 100vh;
}

section {
  margin-top: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  
}

.card {
  border: 2px solid black;
  background: rgb(255, 255, 255);
  color: black;
  padding: 2rem;

  width: 30rem;
  height: 40rem;
}

.card h1 {
  margin-bottom: .9rem;
  color:black;
  font-weight: 400;
}

.card em {
  margin: .8rem 0;
  font-style: normal;
}

.card p {
  line-height: 1.5em;
  margin-bottom: .5rem;
}