:root {
  --gray-modified: #686464;
  --dark-blue: #363f5fb7;
  
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
  /*-----------------------------*/
  --body-color: #f0f2f5;
  
  font-size: 62.5%;
}


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font: 400 1.6rem 'Raleway', sans-serif;
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 3rem 'Montserrat', sans-serif; /*popins*/
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

html,
body {
  height: 100%;
}

/*======= HEADER =======*/

header {
  background-color: #3a3939;
  border-bottom: solid 2px red;
  padding: 2.5rem;
  font-size: 2.1rem;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-right: 15rem;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 1.3rem;
}

nav li a:hover {
  background-color: white;
  color: black;
  border-radius: 0.8rem;
}

#logo {
  margin-left: 15rem;
  height: 10rem;
}

#logo img {
  height: 100%;
}

/*======= CONTEUDO =======*/
main {
  height: 100vh;
}

.introducao {
  background-image: url('../img/plateia.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /*editar imagem do titulo*/

  width: 100%;
  height: 25rem;
  text-align: center;
  padding-top: 8rem;
}

.introducao h1 {
  font-size: 4.8rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.introducao p {
  font-style: italic;
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.antes {
  width: 10%;
  text-align: center; /* Para o IE */
  margin: 0 auto; /* Para navegadores standard */

  border-width: 0;
  height: 3px;
  border-top-width: 0px;
  background: white;
}

.depois {
  width: 10%;
  text-align: center; /* Para o IE */
  margin: 0 auto; /* Para navegadores standard */

  border-width: 0;
  height: 4.5px;
  border-top-width: 0px;
  background: white;
}
/*======= CONTEUDO - HISTORIA =======

.conteudo {
  font-size: 1.2rem;
}

.conteudo h1 {
  font-size: 2.8rem;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  margin-bottom: 2rem;
}
*/
/*
.conteudo hr {
  width: 10%;
  text-align: center; /* Para o IE
  margin: 0 auto;  Para navegadores standard 

  border-width: 0;
  height: 3px;
  border-top-width: 0px;
  background: black;
}
*/

/*======= CONTEUDO - Radios =======*/
.radios {
  background-color:var(--dark-blue);
  
}

.radios h2 { 
  font-size: 2.8rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top:2rem;
  
}

.gallery a {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  text-decoration: none;
}


/*======= FOOTER =======*/
.footer {
  background-color: #3a3939;
  border-top: solid 1.5px red;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 1.8rem;
  height: 6rem;
}
